html {
    background-color: rgb(216, 233, 68);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(90, 5, 5)
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kalam:wght@400;700&family=Open+Sans:wght@400;600&family=Raleway&display=swap');

.menü a{
    background-color: olive;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(255, 184, 52);
    height: 150px;
    width: 300px;
}

li {
    display: inline;
}

h1 {
    color:rgb(90, 5, 5);
    font-family: 'Indie Flower', cursive;
}

h2 {
    font-family: 'Indie Flower', cursive;
}

p {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color:rgb(90, 5, 5);
}

thead {
background-color: rgb(255, 184, 52);
font-size: 24px;
}

img {
    width: 200px;
}
#map{
    width: 500px;
}
td {
columns: 350px;
}

.ár {
     text-align:right
}